/* --------------------------------- UMUM */
/* ------------------------------------------------------------------*/
* {
    box-sizing: border-box;
  }
body{
    margin: 0;
}
a{
    text-decoration: none;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
.dn{
    display: none;
}
.uppercase{
    text-transform: uppercase;
}
.justify{
  text-align: justify;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
/* tepi kanan dan kiri */
.tepiKK{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .tepiKK2{
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .tepiKK,.tepiKK2{
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .tepiKK,.tepiKK2{
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .tepiKK,.tepiKK2{
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .tepiKK,.tepiKK2{
      max-width: 1140px;
    }
  }

  .img-respon {
    max-width: 100%;
    height: auto;
  }
  .img{
    width: 100%;
    height: auto;
  }
  .img-respon2 {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }

 a.tc1{
    color: #575757;
 }
 .tc1 {
    color: #6c757d !important;
  }
  /* --------------------------------- index*/
/* ------------------------------------------------------------------*/

.img-index{
    width: 20%;
    height: auto;
}
@media screen and (max-width: 400px) {
    .img-index {
      width: 50%;
      height: auto;
    }
  }

  @media screen and (max-width: 800px) {
    .img-index {
      width: 50%;
      height: auto;
    }
  }

  @media screen and (max-width: 1200px) {
    .img-index {
      width: 50%;
      height: auto;
    }
  }

  @media screen and (max-width: 400px) {
    .index-spam {
        display: block;
        height: 90px;
    }
  }
  

  /* ------------------------------------------------- HEADER DAN NAVBAR */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-color: #e7e7e7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  li a:hover:not(.active) {
    background-color: transparent;
  }
  
  .aktif {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color:#fff;
  }

  /* ------------------------------------------------- col */
  /* ------------------------
/* contoh normal 1: body.bodycol() > r-col > left-col-25 - right-TWO-CAL-75 > c-TWO-CAL > h2 , h5 , img, p,p  */
/* contoh normal 2: body.bodycol() > r-col > left-col-75 - right-TWO-CAL-25 > c-TWO-CAL > h2 , h5 , img, p,p  */
/* contoh normal 3: body.bodycol() > r-col > left-col-50 - right-TWO-CAL-50 > c-TWO-CAL > h2 , h5 , img, p,p  */

/* body */
.body-col{
    padding: 20px;
    background: #f1f1f1;
  }
  
  .col-75 {   
    float: left;
    width: 75%;
  }
  
  
  .col-25 {
    float: left;
    width: 25%;
  }
  
  .col-50 {   
    float: left;
    width: 50%;
  }
  
  
  .col-100 {
    float: left;
    width: 100%;
    
  }
  
  .c-col {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  
  .r-col:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 800px) {
    .col-75, .col-25, .col-50, .col-100{   
      width: 100%;
      padding: 0;
    }
  }

  .col-75x {   
    width: 75%;
  }
  
  
  .col-25x {
    width: 25%;
  }
  
  .col-50x {   
    width: 50%;
  }
  
  
  .col-100x {
    width: 100%;
    
  }
  
  .c-col-x {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  
  .r-col:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 800px) {
    .col-75x, .col-25x, .col-50x, .col-100x{   
      width: 100%;
      padding: 0;
    }
  }

 
  /* ------------------------ bs
  */
  .bs1{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  }
  .bs2{
    -webkit-box-shadow: 2px 2px 7px 1px rgba(153,153,153,1);
    -moz-box-shadow: 2px 2px 7px 1px rgba(153,153,153,1);
    box-shadow: 2px 2px 7px 1px rgba(153,153,153,1);
  }

  /*-------------------------- scale 
   */
.scale1:hover{
        -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
        /* box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1); */
        background-color: #ffffff;
        color: rgb(0, 230, 230);
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 0.25em;
}
@media screen and (max-width: 800px) {
    .scale1:hover{   
        -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        color: rgb(4, 170, 170);
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: -2%;
        border-radius: 0.25em;
     
    }
  }
 /*-------------------------- croot
   */
   .croot-d .croot {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .croot-d {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .croot-d .croot {
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
  .croot {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .croot-b {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  
  .croot-t {
    margin-bottom: 0.75rem;
  }
/* ------------------------------------------ button 
----------*/
  .button1 {
    background-color: #d1d1d1; color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
    .button1:hover {
    background-image: linear-gradient(to right top, #009285, #00ac82, #29c371, #68d951, #a8eb12);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
    .button2 {
      color: black;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      }
      .button2:hover {
       color:red;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        }