/* --------------------------------- UMUM */
/* ------------------------------------------------------------------*/
* {
    box-sizing: border-box;
  }
body{
    margin: 0;
}
a{
    text-decoration: none;
}
.dn{
    display: none;
}
.uppercase{
    text-transform: uppercase;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
/* tepi kanan dan kiri */
.tepiKK{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .tepiKK{
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .tepiKK{
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .tepiKK{
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .tepiKK{
      max-width: 1140px;
    }
  }

  .img-respon {
    max-width: 100%;
    height: auto;
  }
  .img{
    width: 100%;
    height: auto;
  }

 a.tc1{
    color: #575757;
 }

  /* --------------------------------- index*/
/* ------------------------------------------------------------------*/

.img-index{
    width: 20%;
    height: auto;
}
@media screen and (max-width: 400px) {
    .img-index {
      width: 50%;
      height: auto;
    }
  }

  @media screen and (max-width: 800px) {
    .img-index {
      width: 50%;
      height: auto;
    }
  }

  @media screen and (max-width: 1200px) {
    .img-index {
      width: 50%;
      height: auto;
    }
  }

  @media screen and (max-width: 400px) {
    .index-spam {
        display: block;
        height: 90px;
    }
  }
  

  /* ------------------------------------------------- HEADER DAN NAVBAR */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-color: #e7e7e7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20)
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  li a:hover:not(.active) {
    background-color: transparent;
  }
  
  .aktif {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color:#fff;
  }
